@model EmployeePortal.ViewModels.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="dark-mode">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Employee portal</title>
    <script>
        (function() {
            var theme = localStorage.getItem('theme');
            if (theme === 'light') {
                document.documentElement.classList.remove('dark-mode');
            } else {
                document.documentElement.classList.add('dark-mode');
            }
        })();
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="d-flex align-items-center justify-content-center vh-100 bg-img dark-mode">
    <main class="form-signin w-100 m-auto" style="max-width: 400px;">
        <form asp-action="Login" method="post" class="p-4 rounded shadow bg-glass">
            <div asp-validation-summary="All" class="text-alert small"></div>
            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />

            <div class="text-center mb-3">
                <img src="~/favicon.png" alt="Logo" class="mb-2" width="80px">
                <h1 class="h4 mb-3 fw-normal">Please sign in</h1>
            </div>

            <div class="form-floating mb-3">
                <input type="email" asp-for="Email" class="form-control bg-glass" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput" class="bg-trans">Email address</label>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>

            <div class="form-floating mb-3">
                <input type="password" asp-for="Password" class="form-control bg-glass" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword" class="bg-trans">Password</label>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" asp-for="RememberMe" type="checkbox" id="rememberMe">
                <label class="form-check-label" for="rememberMe">
                    Remember me
                </label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>
        <a href="Account/Register">Register</a>

    </main>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>